* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color:whitesmoke
}
body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
}
.container {
    border: purple 3px solid;
    display:flex;
    flex-direction:column;
    width:23em;
    margin:0px auto 0px auto;
    
}
.btnContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#clrDel {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
button {
    padding:20px;
    cursor: pointer;
}
#displayValue, #bValue {
    text-align: right;
}
.btnOp {
    background-color: #461111;
    color:whitesmoke;
}
.btnsNum {
    background-color: #A13333;
    color:whitesmoke;
    
}
#clear, #delete {
    background-color: #B3541E;
    color:whitesmoke;
}
