* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
display:flex;
flex-direction: column;
justify-content: flex-end;
border: 2px dashed navy;
width: 20em;
height: 30em;
-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
-moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

}
.displayValueDiv {
    text-align: right;
    border: 3px solid green;
    height: 30px;
}
.bValueDiv {
    text-align: right;
    border: 1px orangered dashed;
    margin : 2px;
}
button {
    padding:20px;
    cursor: pointer;
}
.btnsNum {
    
}
.btnContainer {
    border: red 1px solid;
    margin: 4px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

.btnOp{
    background-color: lightslategray;
}
#clrDel {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}